In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

# Question 1

In [3]:
url='https://www.naukri.com/'

In [4]:
driver.get(url)

In [5]:
searchbox=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')

In [6]:
searchbox.send_keys('Data Analyst')

In [7]:
searchloc=driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
searchloc.send_keys('Bangalore')

In [8]:
button=driver.find_element_by_xpath("//div[@class='search-btn']").click()
time.sleep(3)

In [9]:
name=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [11]:
job_title=[]
for i in name:
    a=i.text
    job_title.append(a)

In [12]:
len(job_title)

20

In [13]:
jl=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [14]:
len(jl)

20

In [15]:
job_location=[]
for i in jl:
    a=i.text
    job_location.append(a)

In [16]:
cn=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [17]:
company_name=[]
for i in cn:
    a=i.text
    company_name.append(a)

In [19]:
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [20]:
exp=[]
for i in e:
    a=i.text
    exp.append(a)

In [21]:
as1=pd.DataFrame({})
as1['Job Title']=job_title
as1['Job Location']=job_location
as1['Company Name']=company_name
as1['Experience Required']=exp

In [22]:
as1

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Immediate openings For MIS executive /Data ana...,Bengaluru,RANDSTAD INDIA PVT LTD,3-8 Yrs
2,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
3,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
4,Data Analyst,Bengaluru,St. John’s Research Institute,0-4 Yrs
5,Data Analyst,Bengaluru,Siemens Limited,0-3 Yrs
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Bengaluru(Koramangala),Sunstream Global Technologies LLP,0-3 Yrs
7,ID&A - Data Analyst - Informatica MDM,Bengaluru,Shell India Markets Private Limited,6-9 Yrs
8,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
9,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
10,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
11,Business Data Analyst - Database Design/Mining,Bengaluru,AugmatrixGo,2-5 Yrs
12,Data Analyst - MySQL/PostgreSQL,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",Astegic,5-10 Yrs
13,Hiring For Data Analyst On Contractual Role,Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
14,Data Analyst,Bengaluru,IBM India Pvt. Limited,5-8 Yrs
15,Hiring For Data Analyst (On Contractual Role),Bengaluru,Flipkart Internet Private Limited,2-4 Yrs
16,SENIOR DATA ANALYST,Bengaluru,McAfee Software (India) Pvt. Ltd,4-7 Yrs
17,Sr Data Analyst - Contractual Role | Nike,Bengaluru,ANSR GLOBAL CORPORATION PRIVATE LIMITED,5-8 Yrs
18,Data Analyst,Bengaluru,Snaphunt,3-5 Yrs
19,Data Analyst / Scientist,Bengaluru,Blisaura Events Studio Pvt Ltd,2-5 Yrs

# Question 2

In [23]:
driver.get(url)

In [24]:
searchbox=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')

In [25]:
searchbox.send_keys('Data Scientist')

In [26]:
searchloc=driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
searchloc.send_keys('Bangalore')

In [27]:
button=driver.find_element_by_xpath("//div[@class='search-btn']").click()
time.sleep(3)

In [28]:
name=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [29]:
job_title=[]
for i in name:
    a=i.text
    job_title.append(a)

In [30]:
jl=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [31]:
job_location=[]
for i in jl:
    a=i.text
    job_location.append(a)

In [33]:
cn=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [34]:
company_name=[]
for i in cn:
    a=i.text
    company_name.append(a)

In [36]:
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [37]:
exp=[]
for i in e:
    a=i.text
    exp.append(a)

In [38]:
as2=pd.DataFrame({})
as2['Job Title']=job_title
as2['Job Location']=job_location
as2['Company Name']=company_name
as2['Experience Required']=exp

In [39]:
as2

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,5-10 Yrs
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,2-5 Yrs
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,5-8 Yrs
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,3-5 Yrs
5,Senior Data Scientist,Bengaluru,Philips India Limited,8-12 Yrs
6,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited,3-6 Yrs
7,Sr. Data Scientist,Bengaluru,NetApp,10-15 Yrs
8,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,2-5 Yrs
9,Data Scientist,Bengaluru,GENPACT India Private Limited,5-10 Yrs
10,Data Scientist (Healthcare/Pharma Domain prefe...,Bengaluru,GENPACT India Private Limited,6-10 Yrs
11,Data Scientist,Bengaluru,24/7 Customer,2-4 Yrs
12,AI Resident Data Scientist Stats. Consl.,Bengaluru,Shell India Markets Private Limited,3-5 Yrs
13,Data Scientist (ON Contract),Bengaluru,Sandvik Asia Pvt. Ltd.,4-8 Yrs
14,Senior Data Scientist,"Mumbai, Bengaluru",UpGrad,4-6 Yrs
15,Data Scientist,Bengaluru,Applied Materials,4-7 Yrs
16,Lead Data Scientist,Bengaluru,COLLABERA,5-10 Yrs
17,Immediate hiring Data Scientist - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,4-6 Yrs
18,Lead Data Scientist,Bengaluru,COLLABERA,5-10 Yrs
19,Data Scientist (machine Learning /AI),"Delhi NCR, Mumbai, Bengaluru",Mastermind Network,5-10 Yrs

# Question 3

In [40]:
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [41]:
driver.get(url)

In [47]:
c=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

In [49]:
from selenium.common.exceptions import NoSuchElementException

In [50]:
links=[]
for i in c:
    b=i.get_property('href')
    links.append(b)

In [52]:
zz=[]
for i in links[0:9]:
    driver.get(i)
    try :
        try:
            zz.append(driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text)
        
        except NoSuchElementException:
            zz.append(driver.find_element_by_xpath("//div[@class='clearboth description']").text)
            
    except NoSuchElementException:
        zz.append(driver.find_element_by_xpath("//div[@class='f14 lh18 alignJ disc-li']/div/div[2]").text)

In [ ]:
c=links[9]
driver.get(c)
jd.append(driver.find_element_by_xpath("//div[@class='f14 lh18 alignJ disc-li']").text)

In [54]:
jobdesc=pd.DataFrame({})

In [55]:
jobdesc['Description']=zz

In [56]:
jobdesc

                                         Description
0  Dear Candidate\n\nSchedule a Telephonic Interv...
1  Dear Candidate,\n\nGreetings from HCL!!!\nWe a...
2  Roles and Responsibilities\n\n\n- Selecting fe...
3  Roles and Responsibilities\nUnder guidance, or...
4  Roles and Responsibilities\nThe Yantriks Data ...
5  Job Description\nAt Philips, data is in the ce...
6  Roles and Responsibilities\nWe are looking for...
7  This Cloud Business Operations Data Scientist ...
8  Please note that this role will be Remote / Ho...

# Question 4

In [65]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [66]:
url='https://www.naukri.com/'

In [67]:
driver.get(url)

In [68]:
searchb=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')

In [69]:
searchb.send_keys('Data Scientist')

In [70]:
driver.find_element_by_xpath("//div[@class='search-btn']").click()
time.sleep(3)

In [71]:
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i').click()

In [72]:
title=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

In [73]:
job_title=[]
for i in title:
    job_title.append(i.text)

In [74]:
jl=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [75]:
job_location=[]
for i in jl:
    a=i.text
    job_location.append(a)

In [76]:
cn=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [77]:
company_name=[]
for i in cn:
    a=i.text
    company_name.append(a)

In [78]:
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [79]:
exp=[]
for i in e:
    a=i.text
    exp.append(a)

In [80]:
q3=pd.DataFrame({})

In [81]:
q3['Job Title']=job_title
q3['Job Location']=job_location
q3['Company Name']=company_name
q3['Experience Required']=exp

In [82]:
q3

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,2-5 Yrs
1,Data Scientist (machine Learning /AI),"Delhi NCR, Mumbai, Bengaluru",Mastermind Network,5-10 Yrs
2,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
3,Senior Data Scientist (Remote / Work from Home),"Chennai, Delhi NCR, Bengaluru",WalletHub,10-20 Yrs
4,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
5,Associate Data Scientist,Gurgaon,Indegene Private Limited,6-11 Yrs
6,Data Scientist,Gurgaon Gurugram,TransOrg Analytics,3-6 Yrs
7,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
8,Analyst/Senior Analyst - DATA Scientist,"Chennai, Delhi NCR, Bengaluru",Tredence,2-4 Yrs
9,Data Scientist,"Bengaluru, Gurgaon",GreatLearning,3-5 Yrs
10,Opening For Data Scientist in Axtria,"Bengaluru, Gurgaon, Noida",Axtria India Private Limited,7-12 Yrs
11,Data Scientist/Analyst - Machine Learning/Deep...,Delhi,EchoIndia,3-6 Yrs
12,Data Scientist - Machine Learning,Gurgaon,Talpro,3-6 Yrs
13,Principal Data Scientist - Big Data/Machine Le...,Delhi,HyrEzy Talent Solutions,6-11 Yrs
14,Data Scientist opening at Saarthee Technology ...,Gurgaon,Saarthee Technology Pvt Ltd,1-6 Yrs
15,CN - Strategy - MC - T&O - OA Data Scientist (...,Gurgaon Gurugram,Accenture Solutions Pvt Ltd,2-4 Yrs
16,Data Scientist,Gurgaon,AxmiYaN HR Solutions Private Limited,6-8 Yrs
17,Data Scientist( Hadoop/Redshift/BigQuery),Noida,Jubna,4-6 Yrs
18,Junior Data Scientist/ TA,"Chennai, Pune, Mumbai, Bengaluru, Gurgaon, Hyd...",WSD CONSULTANT PRIVATE LIMITED,1-5 Yrs
19,Senior Manager - Data Scientist - Banking Doma...,"Delhi NCR, Gurgaon",Huquo Consulting Pvt. Ltd,8-12 Yrs

# Glassdoor

In [99]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [100]:
url='https://www.glassdoor.co.in/index.htm'

In [101]:
driver.get(url)

In [102]:
a=driver.find_element_by_xpath('//*[@id="sc.keyword"]')
a.send_keys('Data Scientist')

In [103]:
from selenium.webdriver.common.keys import Keys

In [104]:
b=driver.find_element_by_xpath('//*[@id="sc.location"]')

In [105]:
b.send_keys(Keys.CONTROL+ 'a')

In [106]:
b.send_keys(Keys.DELETE)

In [107]:
b.send_keys('Noida')

In [108]:
driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()

In [113]:
c=driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span")

In [114]:
comp_name=[]
for i in c:
    comp_name.append(i.text)

In [115]:
d=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [116]:
days=[]
for i in d:
    days.append(i.text.replace('d','').replace('24h','1'))

In [168]:
lin=[]

In [169]:
p=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-fbt9gv e1rrn5ka2']/a")

In [170]:
for i in p:
    a=i.get_attribute('href')
    lin.append(a)

In [171]:
len(lin)

30

In [175]:
rating=[]
for i in lin[0:15]:
    driver.get(i)
    try:
        rating.append(driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']").text.replace('\n★',''))
        
    except NoSuchElementException:
        rating.append("No ratings")

In [176]:
fq=pd.DataFrame({})
fq['Company Name']=comp_name[0:15]
fq['Number Of Days']=days[0:15]
fq['Ratings']=rating

In [177]:
fq

                                       Company Name Number Of Days     Ratings
0                                UnitedHealth Group              2         3.5
1                                         QuantumIT             11         3.3
2                                    WSD Consultant            30+  No ratings
3                                    Biz2Credit Inc            30+         3.7
4                      Salasar New Age Technologies            30+  No ratings
5                        Black Console Technologies              3         3.9
6                                          Techlive            30+         5.0
7                                            adidas              7         1.0
8   GreenTech Intelligent Transportation System LLP              8  No ratings
9                              Emerging India Group             22  No ratings
10                     Salasar New Age Technologies            30+  No ratings
11                                  SearchUrCollege            30+         3.9
12                               IElevate Institute              4         4.0
13                  ANI Calls India Private Limited            30+         4.2
14                                   Great Learning             10  No ratings

# Glassdoor 2nd assgnmnt

In [178]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [179]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [180]:
a=driver.find_element_by_xpath('//*[@id="KeywordSearch"]')
a.send_keys('Data Scientist')

In [181]:
b=driver.find_element_by_xpath('//*[@id="LocationSearch"]')

In [182]:
from selenium.webdriver.common.keys import Keys

In [183]:
b.send_keys(Keys.CONTROL+ 'a')

In [184]:
b.send_keys(Keys.DELETE)

In [185]:
b.send_keys('Noida')

In [186]:
driver.find_element_by_xpath('//*[@id="HeroSearchButton"]').click()

In [187]:
x=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")

In [188]:
avr=[]
for i in x:
    avr.append(i.text.replace('₹','').replace(',',''))

In [189]:
len(avr)

20

In [190]:
y=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
z=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

In [191]:
min=[]
for i in y:
    min.append(i.text.replace('₹','').replace('K','000').replace(',',''))
    
maxx=[]
for i in z:
    maxx.append(i.text.replace('₹','').replace('K','000').replace(',',''))

In [192]:
len(maxx),len(min)

(20, 20)

In [193]:
coms=driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]/p[2]")

In [194]:
len(coms)

20

In [195]:
names=[]
for i in coms:
    names.append(i.text)

In [196]:
len(names)

20

In [197]:
r=driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]/p[5]")

In [198]:
rat=[]
for i in r:
    rat.append(i.text.replace(' salaries',''))

In [199]:
f=pd.DataFrame({})
f['Company']=names
f['Minimum Salary']=min
f['Maximum Salary']=maxx
f['Average Salary']=avr
f['Rating']=rat

In [200]:
f

,Company,Minimum Salary,Maximum Salary,Average Salary,Rating
0,Delhivery,456000,11789000,1281419,13
1,Ericsson-Worldwide,420000,1636000,752052,11
2,Accenture,585000,2200000,998925,10
3,Tata Consultancy Services,336000,1024000,602000,9
4,IBM,595000,2769000,771657,9
5,UnitedHealth Group,727000,1597000,1222902,8
6,Valiance Solutions,509000,1168000,791015,8
7,Innovaccer,629000,1719000,1215138,7
8,Cognizant Technology Solutions,804000,1281000,1021889,6
9,ZS Associates,205000,1835000,1000000,5
10,OYO,985000,1911000,1433387,5
11,EXL Service,583000,1227000,1142351,4
12,Optum,819000,1592000,1257579,4
13,Sprinklr,1554000,3283000,1553977,4
14,dunnhumby,829000,2035000,1309262,4
15,Algo8.ai,87000,1377000,596779,4
16,Publicis Sapient,936000,1807000,1700000,3
17,Nagarro,641000,1140000,975474,3
18,Times Internet,1442000,3561000,3511792,3
19,CARS24.com,865000,1504000,1494988,3

# Flipkart

In [422]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [423]:
url='https://www.flipkart.com/'
driver.get(url)

In [424]:
a=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [425]:
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()

In [426]:
a.send_keys('Sunglasses')

In [427]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [429]:
comp=[]
descr=[]
price=[]
disc=[]

for i in range(1,4):
    driver.get(f'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker{i}=search&marketplace=FLIPKART&as-show=on&as=off&page={i}')
    
    
    b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    
    for i in b:
        comp.append(i.text)
    
    
    jd=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    
    for i in jd:
        descr.append(i.text)
    
    
    p=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in p:
        price.append(i.text.replace('₹',''))
    
    d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    
    for i in d:
        disc.append(i.text.replace('off','').replace('%',''))

In [438]:
len(comp)

120

In [440]:
final=pd.DataFrame({})

In [444]:
final['Company']=comp
final['Description']=descr
final['Price']=price
final['Discount']=disc

In [445]:
final=final[0:100]

In [446]:
final

,Company,Description,Price,Discount
0,Adrenex,"Polarized, Gradient Sports Sunglasses (60)",536,82
1,Adrenex,"Polarized, UV Protection Sports Sunglasses (60)",536,85
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",199,84
3,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",219,78
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",399,80
...,...,...,...,...
95,BKGE,"UV Protection, Polarized Rectangular, Retro Sq...",389,78
96,shah collections,UV Protection Round Sunglasses (Free Size),198,84
97,Aislin,"UV Protection, Gradient Butterfly, Retro Squar...",425,72
98,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),233,84
99,Silver Kartz,UV Protection Aviator Sunglasses (62),242,79

# Phone

In [507]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [508]:
rating=[]
shortd=[]
longd=[]

In [509]:
for i in range(1,11):
    url=f'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page={i}'
    driver.get(url)

    r=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for a in r:
        rating.append(a.text)
    
    sd=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in sd:
        shortd.append(i.text)
        
    ld=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
    for i in ld:
        longd.append(i.text)

In [511]:
Phone=pd.DataFrame({})

In [512]:
Phone['Ratings']=rating
Phone['Short Description']=shortd
Phone['Long Description']=longd

In [513]:
Phone

,Ratings,Short Description,Long Description
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,4,Good quality product,I was torn between the oneplus 8 pro and the i...
96,5,Super!,It's a great phone. From camera to display eve...
97,5,Fabulous!,Iphone is best ever but Flipkart delivered is ...
98,5,Fabulous!,I have been using android from last 9 years an...
99,5,Wonderful,"Works seamlessly, I get an avg 1.5 days batter..."

# Sneakers

In [60]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [117]:
br=[]
short=[]
price=[]
disc=[]



for i in range(1,4):
    driver.get(f'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker{i}=search&marketplace=FLIPKART&as-show=off&as=off&page={i}')
    a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    b=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    
    c=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    
    for i in a:
        br.append(i.text)
        
    for i in b:
        short.append(i.text)
    
    for i in c:
        price.append(i.text.replace('₹','').replace(',',''))
        
    for i in d:
        disc.append(i.text.replace('off','').replace('%',''))

In [151]:
disc=disc[0:100]
price=price[0:100]
br=br[0:100]
short=short[0:100]

In [159]:
f['Brand']=br
f['Product Description']=short
f['Discount']=disc
f['Price']=price

In [160]:
f

,Brand,Product Description,Discount,Price
0,Rockfield,Sneakers For Men,60,399
1,Levi's,EXCLUSIVE Sneaker For Men,49,1400
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,75,499
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,62,378
4,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,84,526
...,...,...,...,...
95,Tryviz,Perfect Black Sneaker Sport Casual Canvas Runn...,75,280
96,Camfoot,Combo Pack of 2 Latest Collection Stylish Casu...,49,328
97,Aura,Combo Pack of 3 Casual Shoes Sneakers For Men,60,794
98,My Cool Step,Blue Denim Men's Sneakers Shoes Sneakers For Men,40,316
99,Levi's,Indi Exclusive Sneaker For Men,45,1400

# MYNTRA

In [525]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")

In [531]:
url='https://www.myntra.com/shoes'

In [540]:
driver.get(url)

In [541]:
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [543]:
l=[]
for i in range(1,3):
    a=driver.find_elements_by_xpath("//li[@class='product-base']/a")
    
    for c in a:
        b=c.get_property('href')
        l.append(b)
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(3)

In [544]:
tit=[]
short=[]
p=[]

In [545]:
for i in l:
    driver.get(i)
    
    a=driver.find_element_by_xpath("//h1[@class='pdp-title']")
    b=driver.find_element_by_xpath("//h1[@class='pdp-name']")
    c=driver.find_element_by_xpath("//span[@class='pdp-price']/strong")
    
    tit.append(a.text)
    short.append(b.text)
    p.append(c.text)

In [546]:
f=pd.DataFrame({})

f['Brand']=tit
f['Description']=short
f['Price']=p

In [547]:
f

,Brand,Description,Price
0,Nike,Men Grey Zoom Span 3 Premium Running Shoe,Rs. 6099
1,ADIDAS Originals,Men Multicoloured CAMPUS 80s Leather Sneakers,Rs. 9099
2,Nike,Men Black & Beige JORDAN DELTA Sneakers,Rs. 8199
3,Nike,Men White AIR MAX 90 SE Running Shoes,Rs. 9199
4,Nike,Men Black & Yellow JOYRIDE Running Shoes,Rs. 11199
...,...,...,...
95,ALDO,Men Black Leather Loafers,Rs. 6499
96,Tommy Hilfiger,Women White Sneakers,Rs. 5949
97,Tommy Hilfiger,Women Navy Blue Solid Mid-Top Flat Boots,Rs. 6269
98,Cole Haan,Women White ZeroGrand All Day Stitchlite Sneakers,Rs. 7999
99,Nike,Women Black Air Max VG-R Sneakers,Rs. 6599